* {
    margin: 0;
}

h1, h2, h3, h4 {
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(40, 40, 40, 0.7);
    color: white;
    min-height: 10vh;
    max-height: 10vh;
}


.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-links li {
    color: white;
    list-style: none;
    padding: 30px 70px 30px 70px;
    font-size: 20px;
    transition: 0.3s;
}

.nav-links li:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.listed-text {
    padding-top: 30px;
    color: white;
    list-style: none;
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.flex-container > .box {
    background-color: rgba(40, 40, 40, 0.7);
    width: 400px;
    height: 400px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 30px;
    transition: 0.3s;
    border-radius: 30px;
}

.box:hover {
    background-color: rgba(40, 40, 40, 0.6);
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

#heroes {
    background-image: url("../rsc/heroes-bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    flex: 1;
    overflow: auto;
}

.cover img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}